@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fascinate Inline";
  src: url("assets/fonts/Fascinate_Inline/FascinateInline-Regular.ttf");
}

:root {
  --font-regular: "Fascinate Inline", "Arial";
}
